html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Poppins;
}

img,
picture {
    max-width: 100%;
}

/* banner */
.banner-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 380px 380px;
    grid-template-areas:
        "one two three"
        "one four three";
}

.kkd-img {
    background-color: rgb(103, 103, 103);
    grid-area: one;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.kkd-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.kkd-img:hover img {
    transform: scale(1.1);
}

.two {
    background-color: #1D1D1D;
    grid-area: two;
}

.intro {
    background-color: #2243F2;
    grid-area: three;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    padding: 0 30px;
}

.name-kor {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.big {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.top-margin {
    margin-top: -100px;
}

.small {
    font-size: 3.0rem;
}

.quote {
    margin-bottom: 20px;
}

.quote svg {
    padding: 0 30px;
    margin-bottom: -20px;
}

.quote p {
    font-size: 3.3rem;
    padding: 0 30px;
    line-height: 3.2rem;
    /* font-weight: bold; */
}

.about {
    background-color: #FF4A55;
    grid-area: four;
    color: white;
    font-size: 1.8rem;
}

.about p {
    padding: 40px;
}

/* films */
.films-wrapper {
    max-width: 1200px;
    position: relative;
    margin: auto;
    background-color: #F4F4F3;
}
.films-wrapper:before {
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    position: fixed;
}

.films {
    padding-bottom: 100px;
}

.main-para p{
    width: 50%;
    font-size: 1.8rem;
    padding: 100px 50px;
    margin: 0;
}

.movies {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 50px;
}

.card {
    font-size: 1.4rem;
}

.poster {
    height: 400px;
    width: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    padding-bottom: 20px;
    border-bottom: 1px solid #FF4A55;
}

.story {
    margin-bottom: 60px;
}
.btn {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px 25px;
    margin-left: 50px;
}

/* interviews */

.aricles-wrapper { /* check !!!!11  1200px not working */ 
    max-width: 1200px;
    position: relative;
    margin: auto;
    background-color: #000000;
    margin: 0;
}
.aricles-wrapper:before { 
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    position: fixed;
}

.intro-articles {
    display: flex;
    color: white;
}

.sell {
    display: flex;
    align-items: flex-start;
    font-size: 3.2rem;
    padding: 100px 50px;
    margin: 0;
    margin-left: 80px;
}

.para {
    display: flex;
    align-items: flex-end;
    font-size: 1.8rem;
    margin: 0;
    margin-left: 150px;
    padding: 100px 0 0 0;
}

.articles {
    background-color: #2243F2;
    display: flex;
    gap: 2rem;
    padding: 40px;
}

