html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Poppins;
}

img,
picture {
    max-width: 100%;
}


/* banner */
.grid-row-span-2 {
    grid-row: span 2;
}

.banner-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 380px 380px;
}

.kkd-img {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.kkd-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: .5s ease-in-out;
    cursor: pointer;

}

.kkd-img:hover img {
    transform: scale(1.1);
}

.two {
    background-color: #1D1D1D;
}

.intro {
    background-color: #2243F2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    padding: 0 30px;
}

.name-kor {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.big {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: bold;
}

.top-margin {
    margin-top: -100px;
}

.small {
    font-size: 3.0rem;
}

.quote {
    margin-bottom: 20px;
}

.quote svg {
    padding: 0 30px;
    margin-bottom: -20px;
}

.quote p {
    font-size: 3.3rem;
    padding: 0 30px;
    line-height: 3.2rem;
}

.about {
    background-color: #FF4A55;
    color: white;
    font-size: 1.8rem;
}

.about p {
    padding: 40px;
}

/* films */
.films-wrapper {
    max-width: 1200px;
    position: relative;
    margin: auto;
    background-color: #F4F4F3;
}

.films-wrapper:before {
    content: "";
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    position: fixed;
}

.films {
    padding-bottom: 100px;
}

.main-para p {
    width: 60%;
    font-size: 1.8rem;
    padding: 100px 50px;
    margin: 0;
}

.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 50px;
}

.card {
    font-size: 1.4rem;
}

.poster {
    height: 400px;
    width: 100%;
}

.card .poster img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    padding-bottom: 20px;
    border-bottom: 1px solid #FF4A55;
}

.story {
    margin-bottom: 60px;
}

.btn {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px 25px;
    margin-left: 50px;
}



/* interviews */
.aricles-wrapper {
    background-color: #000000;
    padding: 100px 0;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.grid-row-span-3 {
    grid-row: span 3;
}

.grid-row-span-4 {
    grid-row: span 4;
}

.interviews {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
}

.intro-articles {
    color: white;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 200px 200px;
    gap: 2rem;
}

.sell p {
    font-size: 3.2rem;
    margin: 0;
    padding-top: 50px;
}

.aricles-para p {
    font-size: 1.8rem;
    margin: 0;
    padding: 0 50px;
}

.inrterview-img {
    cursor: pointer;
    overflow: hidden;
}

.inrterview-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s ease-in-out;
}

.inrterview-img:hover img {
    transform: scale(1.1);
}

.inrterview h2 {
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;

}

.inrterview p {
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.btn {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(252, 252, 252);
    margin: 0;
}